<div class="container my-5">
  <h3>Store Tabs</h3>
  <div class="tabs-container">
    <ul class="tabs-nav">
      <li class="tabs-item" role="tab" [tabIndex]="activeTab === 'tabGreetings' ? 0 : -1"
        [ngClass]="{'tabs-item--active': activeTab === 'tabGreetings'}" (click)="onTabChange('tabGreetings')">
        Greetings
      </li>
      <li class="tabs-item" role="tab" [tabIndex]="activeTab === 'tabOverride' ? 0 : -1"
        [ngClass]="{'tabs-item--active': activeTab === 'tabOverride'}" (click)="onTabChange('tabOverride')">
        Override
      </li>
    </ul>
  </div>
  <div class="py-2">
    <div *ngIf="activeTab === 'tabGreetings'; else tabOverride">
      <div class="d-flex flex-wrap">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td><button (click)="onGoToEdit({id: '1'})" class="btn btn-info">Edit</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #tabOverride>
      <div class="d-flex flex-wrap">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Other</td>
              <td>Otto</td>
              <td><button (click)="onGoToEditOverride()" class="btn btn-info">Edit</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </div>
</div>