<div class="container p-4">
  <h1>Store-list</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><button (click)="onGoToAdd(1,'mark')" class="btn btn-info">Edit</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><button (click)="onGoToAdd(2,'Jacob')" class="btn btn-info">Edit</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td><button (click)="onGoToAdd(3,'larry')" class="btn btn-info">Edit</button></td>
          </tr>
        </tbody>
      </table>
</div>